*.exe
*.o
*.lib
*.a
*.dll
*.def
*.dep
*.bin

*.cfg
*.json

*.log
*.tlog

*.cbp
*.layout
*.depend
*.mk
*.project
*.workspace
Makefile

*.vcxproj
*.filters
*.sdf
*.sln
*.suo

*/CMakeFiles/*
CMakeCache.txt
*.cmake

.build-debug/*
.codelite/*

Debug/*
